@font-face {
  font-family: "icomoon";
  src: url("./assets/fonts/icomoon.woff") format("woff"), url("./assets/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  padding-top: 20px;
  min-height: 100vh;
  background: linear-gradient(219.03deg, #f4c7ea 4.12%, #fde5ec 95.2%);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  overflow: hidden;
  @media (max-width: 1023px) {
  }
  &:before {
    position: absolute;
    content: "";
    width: 1000px;
    height: 1000px;
    background: linear-gradient(136.32deg, rgba(255, 0, 46, 0) 16.32%, rgba(255, 216, 80, 0.69) 85.53%);
    background-repeat: no-repeat;
    top: -700px;
    left: 0;
    filter: blur(470.273px);
    z-index: -1;
    @media (max-width: 1023px) {
      width: 770px;
    }
    @media (max-width: 767px) {
      width: 400px;
    }
    @media (max-width: 430px) {
      width: 200px;
    }
  }
  &:after {
    position: absolute;
    content: "";
    width: 600px;
    height: 600px;
    background: linear-gradient(142.97deg, rgba(0, 255, 133, 0.3) 17.43%, rgba(63, 239, 60, 0.22) 73.23%);
    filter: blur(315.415px);
    top: 100px;
    left: 0;
    @media (max-width: 1023px) {
      width: 400px;
    }
    @media (max-width: 767px) {
      width: 200px;
    }
    @media (max-width: 430px) {
      width: 100px;
    }
  }
}
.container {
  max-width: 992px;
  margin: 0 auto;
  background-color: rosybrown;
  @media (max-width: 1023px) {
    max-width: 90%;
  }
}
.field {
  &__inner {
    padding: 20px;
    background: linear-gradient(136.16deg, rgba(46, 9, 22, 0.97) 12.91%, rgba(32, 10, 43, 0.69) 87.68%);
  }
  &__title {
    text-align: center;
    color: #ff5b79;
    margin-bottom: 10px;
  }
  &__wrap {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin: 0 auto 20px;
    @media (max-width: 991px) {
      font-size: 20px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  &__header {
    max-width: 90%;
    border-radius: 5px;
    margin: 0 auto 30px;
  }
  &__input {
    z-index: 100;
    padding: 10px;
    width: 90%;
    border-radius: 5px 0 0 5px;
    border: none;
    @media (max-width: 991px) {
      width: 80%;
    }
    @media (max-width: 685px) {
      width: 70%;
    }
    @media (max-width: 430px) {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 5px;
    }
  }
  &__btn {
    padding: 10px;
    width: 100px;
    width: 10%;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
    background-color: #ff5b79;
    color: #fff;
    transition: color 0.3;
    &:hover {
      color: rgba(256, 256, 256, 0.7);
      transition: color 0.3;
    }
    &:active {
      color: rgba(256, 256, 256, 0.5);
      transition: color 0.3;
    }
    @media (max-width: 991px) {
      width: 20%;
      padding-right: 20px;
      padding-left: 20px;
    }
    @media (max-width: 685px) {
      width: 30%;
    }
    @media (max-width: 430px) {
      width: 100%;
      border-radius: 5px;
    }
  }
  &__block {
    max-width: 90%;
    margin: 0 auto 10px;
    background: linear-gradient(231.3deg, rgba(256, 256, 256, 0.2) 12.07%, rgba(256, 256, 256, 1) 61.45%);
    padding: 10px 30px 10px 10px;
    border-radius: 5px;

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-text {
      max-width: 92%;
      color: #ff5b79;
      word-wrap: break-word;
      line-height: 1;
      @media (max-width: 991px) {
        max-width: 90%;
      }
      @media (max-width: 767px) {
        max-width: 84%;
      }
      @media (max-width: 450px) {
        max-width: 82%;
      }
      @media (max-width: 374px) {
        max-width: 78%;
      }
      &.done {
        color: rgba(255, 91, 121, 0.5);
        text-decoration: line-through;
      }
    }
    &-alttext {
      margin-left: 5%;
    }
    &-buttons {
      display: flex;
      width: 40px;
      height: 15px;
      justify-content: space-between;
      @media (max-width: 450px) {
        width: 32px;
        height: 10px;
      }
    }
    &-btn {
      cursor: pointer;
      position: relative;
      &.btn-done,
      &.btn-done_check {
        &:before {
          position: absolute;
          content: "";
          font-family: "icomoon";
          content: "\e900";
          top: 0;
          left: 0;
          @media (max-width: 450px) {
            font-size: 12px;
          }
        }
        &_check {
          color: rgba(256, 256, 256, 0.4);
        }
      }
      &.btn-delete {
        &:before {
          position: absolute;
          content: "";
          font-family: "icomoon";
          content: "\e901";
          top: 0;
          left: 0;
          @media (max-width: 450px) {
            font-size: 12px;
          }
        }
      }
      &:hover {
        color: rgba(256, 256, 256, 0.7);
        transition: color 0.3;
      }
      &:active {
        color: rgba(256, 256, 256, 0.5);
        transition: color 0.3;
      }
    }
  }
}
